<div class='home-page'>
  <div class='main-container'>
    <div class='about-signup'>
      Get together with friends and family for a fun holiday game of Secret Santa and more!<br>
      <button>Sign Up Now</button>
    </div>
    <div class='festive-image'>image will go here</div>
  </div>

</div>