<% if flash[:success].present? %>
  <div class='success-message'><%= flash[:success] %></div>
<% end %>

<div class='profile-page'>
  <div>{{ Edit button }}</div>
  <div><%= @user.name %></div>
  <div>{{ User Image }}</div>
  <div>{{ Write something about yourself to give your secret santa some hints. }}</div>
  <div>{{ Create Game }}</div>
  <div>{{ My Games }}</div>
</div>
