// Place all the styles related to the SecretSantaGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$red: #C6502E;
$green: #218000;

.success-message {
  font-family: 'Montserrat', sans-serif;
  background-color: #B4D5B5;
  padding: 20px;
  margin-top: 10px;
}

.game-page {
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  display: flex;
  justify-content: space-between;

  .left {
    width: 60%;
    .title {
      font-size: 25px;
    }
  
    .instructions {
      margin: 20px 0;
      border: 2px solid $green;
      padding: 5px;
      background-color: #B4D5B5;
    }

    .player-list {

      .avatar {
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}