// Place all the styles related to the SecretSantaGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$red: #C6502E;
$green: #218000;

.success-message {
  font-family: 'Montserrat', sans-serif;
  background-color: #B4D5B5;
  padding: 20px;
  margin-top: 10px;
}

.new-game-page {
  font-family: 'Montserrat', sans-serif;

  .title {
    margin: 50px 0 30px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #123f03;
    text-shadow: -1px 0 $green, 0 1px $green, 1px 0 $green, 0 -1px $green;
  }

  form {
    margin: 10px 0 10px 32%;
    width: 50%;

    label {
      font-weight: bold;
    }

    input , textarea {
      margin-bottom: 10px;
      margin-top: 2px;
      width: 50%;
      padding: 3px 10px;
      font-size: 14px;
      border: 1px solid $green;
      border-radius: 10px;
      width: 70%;
    }
  }

  .submit-button {
    margin-top: 20px;
    margin-left: 150px;
    width: 200px;
    background-color: $green;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid $red;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  
    &:hover {
      background-color: $red;
      color: white;
      border-color: $green;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.game-page {
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  color: #123f03;

  .game-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px dotted $green;
    padding-bottom: 20px;
    .left {
      width: 60%;
      .title {
        font-size: 25px;
        margin-top: 10px;
      }
  
      .instruction-label {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 18px;
      }
    
      .instructions {
        margin: 20px 0 30px;
        border: 2px solid $green;
  
        padding: 10px;
        background-color: #B4D5B5;
        border-radius: 7px;
      }

      .edit-buttons {
        display: flex;
        justify-content: flex-start;

        div {
          margin: 10px 10px 0px 20px;
          font-size: 12px;
          padding: 3px 3px 2px;
          border-radius: 5px;
        }

        .delete {
          background-color: white;
          border: 1px solid $red;
          a {
            color: $red;
          }

          a:hover {
            color: white;
          }
        }

        .delete:hover {
          background-color: $red;
        }

        .edit {
          border: 1px solid $green;
          a {
            color: $green;
          }

          a:hover {
            color: white;
          }
        }

        .edit:hover {
          background-color: $green;
        }
      }

      .stats {
        font-weight: bold;

        .label {
          padding-right: 5px;
          text-align: right;
        }

        .value {
          padding-left: 7px;
          border-radius: 50px;
          border-left: 2px solid $red;
        }
      }
    }
  
    .countdown {
      margin: 70px 150px;
      text-align: center;

      .days {
        font-size: 70px;
      }
    }

    .draw-happened-message {
      margin: 70px 150px 30px;
      text-align: center;
      color: #123f03;
      text-shadow: -1px 0 $green, 0 1px $green, 1px 0 $green, 0 -1px $green;
    }

    .start-draw-button {
      display: flex;
      justify-content: center;
      font-size: 40px;
      border: 1px dotted $green;
      width: 250px;
      margin-left: 150px;
      border-radius: 10px;
      background-color: rgb(46, 156, 52);
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      box-shadow: 10px 10px 5px grey;
      color: white;
    }
    
    .start-draw-button:hover {
      -webkit-transform: scale(1.9);
      transform: scale(1.9);
    }
  }

  .players {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: bolder;
    text-align: center;

    .player-list {
      margin-bottom: 20px;

      .avatar:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }

      .avatar {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        img {
          width: 80px;
          height: 80px;
          border-radius: 10px;
        }
      }
    }
  }
}