// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #C6502E;
$green: #218000;

.home-page {
  font-family: 'Montserrat', sans-serif;

  .main-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      width: 30%;
    }

    .about-signup {
      margin-right: 20px;
      font-size: 1.5em;
      text-align: center;
      border: 3px solid $red;
      color: $red;
      border-radius: 15px;
      height: 180px;
      padding: 2%;
      font-weight: bold;
      padding-top: 3%;

      button {
        margin-top: 30px;
        background-color: $green;
        border-radius: 15px;
        color: white;
        font-size: 20px;
        padding: 10px 20px;
        border: 2px solid $red;
        a, a:visited {
          text-decoration: none;
          color: white;
        }
      }

      button:hover {
        background-color: $red;
        color: white;
        border-color: $green;
      }
    }

    .festive-image {
      img {
        width: 85%;
      }
    }
  }
}

.get-started-page {

}

.success-message {
  background-color: #B4D5B5;
  padding: 20px;
  margin-top: 10px;
}
