// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$red: #C6502E;
$green: #218000;

a, a:visited {
  text-decoration: none;
  color: #123f03;
}

%page-title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

%submit-button {
  margin-top: 20px;
  margin-left: 150px;
  width: 200px;
  background-color: $green;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid $red;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:hover {
    background-color: $red;
    color: white;
    border-color: $green;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

%form {
  width: 50%;

  label {
    font-weight: bold;
  }

  input, textarea {
    margin-bottom: 10px;
    margin-top: 2px;
    width: 50%;
    padding: 3px 10px;
    font-size: 14px;
    border: 1px solid $green;
    border-radius: 10px;
  }
}


.signup-page {
  font-family: 'Montserrat', sans-serif;

  .title {
    text-align: center;
    @extend %page-title;
    color: #123f03;
    text-shadow: -1px 0 $green, 0 1px $green, 1px 0 $green, 0 -1px $green;
  }

  form {
    @extend %form;
    margin: 10px 0 10px 32%;


    input {
      width: 70%;
    }

    .submit-button {
      @extend %submit-button;
    }
  }
}

.success-message {
  font-family: 'Montserrat', sans-serif;
  background-color: #B4D5B5;
  padding: 20px;
  margin-top: 10px;
}

.error-messages {
  background-color: #E8BDB3;
  padding: 10px;
  padding-left: 30px;
  width: 50%;
  border: 1px solid #E8BDB3;
  border-radius: 10px;
  margin-left: 23%;
}

.profile-page {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  color: #123f03;

  .left {
    padding-left: 2%;
    width: 40%;
    .name {
      @extend %page-title;
      text-align: left;
    }

    .edit-icon {
      i {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        color: #123f03;
      }
    }

    .edit-icon:hover {
      i {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
      }
    }

    .avatar {
      img {
        border: 5px solid $green;
        border-radius: 10px;
      }
    }

    .summary-label {
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 22px;
    }

    .summary {
      border-top: 2px solid $red;
      padding: 5px 2px;
      width: 50%;
    }
  }

  .right {
    width: 50%;
    .create-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      .create-button {
        margin: 5px;
        border: 2px solid $green;
        border-radius: 10px;
        text-align: center;
        padding: 2px 5px;
        width: 30%;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

        &:hover {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
      }
    }

    .section-title {
      @extend %page-title;
    }

    .my-games {
      padding: 3px 10px;

      .my-game:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      .my-game {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #E8B9AD;
        box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;

        .left {
          width: 80%;
          .game-title {
            font-size: 18px;
            font-weight: bold;
          }

          .game-details {
            font-size: 14px;
          }
        }

        .right {
          display: flex;
          justify-content: flex-end;
          font-size: 12px;

          .admin-label {
            color: $green;
            padding-left: 10px;
          }


          .expired-label {
            color: $red;
          }
        }
      }
    }
  }
}

.edit-page {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;

  .title {
    @extend %page-title;
    text-align: left;
  }

  .error-messages {
    margin-left: 0;
  }

  form {
    @extend %form;

    input, textarea {
      width: 50%;
    }

    #user_avatar {
      border: 0;
      padding: 3px 0;
      color: $green;
    }

    textarea {
      min-height: 70px;
    }

    .submit-button {
      @extend %submit-button;
    }

    img {
      border: 5px solid $green;
      border-radius: 10px;
    }
  }
}

.settings-page {
  font-family: 'Montserrat', sans-serif;
  .title {
    @extend %page-title;
  }

  .delete-button {
    text-align: center;
    background-color: $red;
    font-size: 18px;
    padding: 5px;
    color: white;
    border-radius: 10px;

    width: 15%;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: $green;
      }
    }
  }
}
